In [2]:
usBirth=open("US_births_1994-2003_CDC_NCHS.csv",'r')
usBirthRead=usBirth.read()
usBirthSplit=usBirthRead.split("\n")
print(usBirthSplit[:10])

['year,month,date_of_month,day_of_week,births', '1994,1,1,6,8096', '1994,1,2,7,7772', '1994,1,3,1,10142', '1994,1,4,2,11248', '1994,1,5,3,11053', '1994,1,6,4,11406', '1994,1,7,5,11251', '1994,1,8,6,8653', '1994,1,9,7,7910']

In [3]:
def read_csv(filename):
    usBirth=open(filename,'r')
    usBirthRead=usBirth.read()
    string_list=usBirthRead.split("\n")
    final_list=[]
    final_string=string_list[1:len(string_list)]
    for item in final_string:
        int_fields=[]
        string_fields=item.split(",")
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    return final_list

cdc_list=read_csv("US_births_1994-2003_CDC_NCHS.csv")
print(cdc_list[:10])

[[1994, 1, 1, 6, 8096], [1994, 1, 2, 7, 7772], [1994, 1, 3, 1, 10142], [1994, 1, 4, 2, 11248], [1994, 1, 5, 3, 11053], [1994, 1, 6, 4, 11406], [1994, 1, 7, 5, 11251], [1994, 1, 8, 6, 8653], [1994, 1, 9, 7, 7910], [1994, 1, 10, 1, 10498]]

In [4]:
def month_births(data):
    births_per_month = {}
    
    for row in data:
        month = row[1] #second column in list of lists
        births = row[4] #fifth column in list of lists
        
        if month in births_per_month:
            births_per_month[month] = births_per_month[month] + 1
        else:
            births_per_month[month] = births
    return births_per_month

cdc_month_births = month_births(cdc_list)
cdc_month_births

{1: 8405,
 2: 12036,
 3: 12436,
 4: 10929,
 5: 8454,
 6: 12648,
 7: 12763,
 8: 11737,
 9: 12482,
 10: 9660,
 11: 12615,
 12: 11990}

In [5]:
def dow_births(data):
     births_per_dow = {}
    
     for row in data:
        dow = row[3] #fourth column in list of lists
        births = row[4] #fifth column in list of lists
        
        if dow in births_per_dow:
            births_per_dow[dow] = births_per_dow[dow] + 1
        else:
            births_per_dow[dow] = births
    
     return births_per_dow

cdc_day_births = dow_births(cdc_list)
cdc_day_births

{1: 10663, 2: 11769, 3: 11574, 4: 11926, 5: 11771, 6: 8617, 7: 8293}

In [6]:
#create a function that works for all columns in dataset
def calc_counts(data, column):
    #populates and returns a dictionary containing the total number
    # of births for each unique value in the column at position <column>
    sums_dict = {}
    
    for row in data:
        col_value = row[column]
        births = row[4]
        
        if col_value in sums_dict:
            sums_dict[col_value] = sums_dict[col_value] + births
        else:
            sums_dict[col_value] = births
            
    return sums_dict

#return totals below for each column in dataset
cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [7]:
#display value calculated for births by year
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [8]:
#dispaly value calculated for births by month
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [9]:
#display value calculated for births by day of month
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [10]:
#display value calculated for births by date of week
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

Step 6: Here are some suggestions for next steps:

Write a function that can calculate the min and max values for any dictionary that's passed in.

Write a function that extracts the same values across years and calculates the differences between consecutive values to show if number of births is increasing or decreasing. For example, how did the number of births on Saturday change each year between 1994 and 2003?

Find a way to combine the CDC data with the SSA data, which you can find here. Specifically, brainstorm ways to deal with the overlapping time periods in the datasets.